<section class="quiz mt-8">
  <div class="container">
    <div class="row">

      <!-- right side -->
      <div class="left col-lg-3 col-sm-12 pl-5 mb-5">
          <div class="title mt-3">
              <h3 class="font-weight-bold">قائـمـــــة الـــدرس</h3>
          </div>
          <div class="">
            <ul class="list-unstyled ">
              <li><a [routerLink]="['/topic', passed_subject_Id, passed_topic_Id]" fragment="video">فيديو الدرس</a></li>
              <li><a [routerLink]="['/topic', passed_subject_Id, passed_topic_Id]" fragment="explain">شرح الدرس</a></li>
              <li><a [routerLink]="['/topic', passed_subject_Id, passed_topic_Id]" fragment="files">الملفات المرفقة</a></li>
              <li><a [routerLink]="['/quiz', passed_subject_Id, passed_topic_Id]"> اختبار الدرس </a></li>
          </ul>
          </div>
      </div>

      <!-- left side -->
      <div class="right col-lg-9 col-sm-12 pr-5">

          <!-- title -->
          <h1 class="font-weight-bold"> الدرس: {{topic_title}}  </h1>
          <small class="pg-title-info text-muted"> {{gradeName}} • {{subjectName}} </small>
          
          <!-- the quiz -->
          <div class="quiz-main mt-4">

              <div class="header">
                <h2 class="mr-3 py-2 font-weight-bold">اختبــــار الــــدرس</h2>
                <timer *ngIf="isQuizToBeStarted" class="ml-4"></timer>
              </div>

              <!-- questions component -->
              <div class="quiz-questions" *ngIf="isQuizToBeStarted; else showStart">
                <!-- pass the questions got from API to the questions component ( child component ) -->
                <questions [item]="questions"> </questions>
              </div>
              
              <ng-template #showStart>
                <div class="start">
                  <button class="btn btn-quiz" (click)="onStart()">ابـــدأ الاختبـــار</button>
                </div>
              </ng-template>

          </div>

      </div>    

    </div>
  </div>  
</section>
