<!-- admin Header -->
<app-ad-header></app-ad-header>


<!-- ------- Admin Sidebar --------- -->
<app-ad-sidebar></app-ad-sidebar>


<!-- المراحل الدراسية--------------- -->
<main id="main" class="main">
    <div class="row">
      <div class="container regular-font-size">

        <div class="card">
            <div class="card-body pt-3 ml-4">
                
                <!-- title -->
                <h1 class="font-weight-bold py-2 mb-4 mr-2"> المراحل الدراسية</h1> 
                
                <!-- the table -->
                <div class="row mt-4 mr-3" >
                    <table class="table table-hover text-center mx-4 w-100">
                        <thead>
                        <tr>
                            <th>م</th>
                            <th>الصف</th>
                            <th class="pr-4">الحالة</th>
                            <th class="pr-4"></th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let grade of Grades_List">
                                <th  class="align-middle">{{grade.id}}</th>
                                
                                <td  class="align-middle"> {{grade.name}} </td>

                                <!-- الحالة -->
                                <td class="align-middle d-flex justify-content-center">
                                    <div class="checkbox-wrapper-8">
                                        <input type="checkbox" [id]="'checkbox' + grade.id" class="tgl tgl-skewed" [checked]="grade.isVisible"  (change)="onCheckboxChange($event, grade.id)">
                                        <label [for]="'checkbox' + grade.id" data-tg-on="ظاهر" data-tg-off="مخفي" class="tgl-btn"></label>
                                    </div>
                                </td>

                                <td  class="align-middle">
                                    <input type="button" value="مواد الصف" [routerLink]="['/admin-subjects', grade.id]"  routerLinkActive="active" class="btn btn-secondary btn-lg px-3 mx-3 smaller-font-size" >
                                </td>
                            </tr>

                        </tbody>
                    </table>       

                </div>

            </div>
        </div>

      </div>
    </div>

</main>


<app-ad-footer></app-ad-footer>

