
<section id="services" class="services mt-8 mb-5">
   <div class="container">

      <div class="mt-1 mb-5">
         <h1 class="heading font-weight-bold">الصف {{ currentGradeTitle }}</h1>
      </div>

      <div class="row mt-5">

         <h4 class="title mt-2" *ngIf="no_Subject" > نعتذر لكم، سيتم اضافة مواد هذا الصف قريباً </h4>

         <!-- subject -->
         <div class="col-lg-4 col-md-6 mb-5" *ngFor="let subject of subjects_list">
            <div class="icon-box" style="height: 100%;">
               <div class="icon"><i class="bx bxs-category-alt"></i></div>
               <h4 class="title">
                  <a [routerLink]="['/all-topics-of-subject', subject.id]" > {{subject.name}} </a>
                  <!-- <a [routerLink]="['/all-topics-of-subject', passed_grade_Id, subject.id]" > {{subject.name}} </a> -->
               </h4>
            </div>
         </div>

      </div>
   </div>
</section>