<!-- admin Header -->
<app-ad-header></app-ad-header>


<!-- ------- Admin Sidebar --------- -->
<app-ad-sidebar></app-ad-sidebar>


<!-- الدروس ------------------------------------------------->
<main id="main" class="main">
    <div class="row">
      <div class="container regular-font-size">

        <div class="card">
            <div class="card-body pt-3 ml-4">
    
                <!-- title -->
                <h1 class="font-weight-bold py-2 mb-4 title mr-2"> دروس مادة الرياضيات الصف الأول</h1> 


                <!-- buttons to add new topic and search -->
                <div class="d-flex align-content-center justify-content-between mt-3 px-0">
                    <!-- right side -->
                    <div class="flex-grow-1 search-filter-admin-topics">
                        <input type="button" value="&#43;  إضافة درس جديد" routerLink="/admin-topic" class="btn btn-dark btn-lg px-3 mx-3 mt-3 mb-2 smaller-font-size">
                    </div>
                    
                    <!-- left side -->
                    <div class=" w-25 mt-3 mb-2">
                        <!-------------------------------- filter ------------------->
                        <div class="input-group mb-2">
                            <!-- x icon to delete text (show if there is text only)-->
                            <div class="input-group-append">
                                <span class="input-group-text" *ngIf="searchText" (click)="clearSearch()">
                                    <i class="bi bi-x"></i>
                                </span>
                            </div>
                            <!-- filter input in the middle -->
                            <input type="text" [(ngModel)]="searchText" class="form-control py-3 btn_grey smaller-font-size" style="font-size: 16px;" placeholder="بحث">
                            <!-- search icon -->
                            <div class="input-group-prepend">
                              <span class="input-group-text">
                                <i class="bi bi-search"></i>
                            </span>
                            </div>
                          </div>
                          
                    </div>
                </div>
                
                <!-- the table -->
                <div class="row d-flex mt-4 mr-3" >
                    <table class="table table-hover table-responsive-sm text-center w-100">
                        <thead>
                        <tr>
                            <!-- <th>م</th> -->
                            <th>عنوان الدرس</th>
                            <th>المستخدم المضيف</th>
                            <th>الفصل الدراسي</th>
                            <th>الحالة</th>
                            <th> تاريخ الاضافة</th>
                            <th> آخر تعديل</th>
                            <th>  </th>
                        </tr>
                        </thead>
                        <tbody>
                            <!-- added cutom search pipe for the table  -->
                            <tr *ngFor="let topic of TopicsList1 | search: searchText">
                                <!-- <th class="align-middle">1</th> -->
                                <td class="align-middle"> {{ topic.title}} </td>
                                <td class="align-middle"> {{ topic.username}} </td>
                                 <td class="align-middle">  {{topic.term}}</td>
                                <td  class="align-middle d-flex justify-content-center">
                                    <div class="checkbox-wrapper-8">
                                        <input type="checkbox" [id]="'checkbox' + topic.id" class="tgl tgl-skewed" [checked]="topic.isVisible">
                                        <label [for]="'checkbox' + topic.id" data-tg-on="ظاهر" data-tg-off="مخفي" class="tgl-btn"></label>
                                    </div>
                                </td>
                                <td class="align-middle">
                                    {{ topic.createdAt  | date:'medium'  }}
                                </td>
                                <td class="align-middle">
                                    {{ topic.updatedAt }}
                                </td>
                                <td class="align-middle">
                                    <input type="button" value="تعديل الدرس" routerLink="/admin-topic" class="btn btn-warning btn-lg smaller-font-size px-3 mx-3" >
                                </td>
                            </tr>
                        </tbody>
                    </table>       

                </div>

            </div>
        </div>

      </div>
    </div>

</main>


<app-ad-footer></app-ad-footer>
