

<section id="services" class="services mt-8">
    <div class="container">
        <h1 class="heading font-weight-bold pb-0 mt-3">الرياضيات</h1>
        <!-- filter section -->
        <div class="row d-flex justify-content-center">
            <div class="portfolio-menu mb-4">
                <ul>
                   <li class="active" data-filter="*">الكل</li>
                   <li>|</li>
                   <li class="" data-filter="">الفصل الدراسي الأول</li>
                   <li>|</li>
                   <li class="" data-filter="">الفصل الدراسي الثاني</li>
                </ul>
             </div>
        </div>
        <div class="row">

            <!-- foreach item -->
            <div class="col-12 col-md-4   mb-5">
                <div class="d-flex flex-column card h-100 pb-3">
                    <a routerLink="/topic" class="text-dark">
                        <div class="position-relative text-center border-black border-1">
                            <img src="assets/images/topicEx.png" height="100%" width="100%" alt="">
                        </div>
                        <div class="text-center">
                            <h3 class="mb-2">عنوان الدرس</h3>
                        </div>
                    </a>
                </div>
            </div>
            <!-- end:foreach item -->
            
            <!-- foreach item -->
            <div class="col-12 col-md-4   mb-5">
                <div class="d-flex flex-column card h-100 pb-3">
                    <a routerLink="" class="text-dark">
                        <div class="position-relative text-center border-black border-1">
                            <img src="assets/images/topicEx.png" height="100%" width="100%" alt="">
                        </div>
                        <div class="text-center">
                            <h3 class="mb-2">عنوان الدرس</h3>
                        </div>
                    </a>
                </div>
            </div>
            <!-- end:foreach item -->

            <!-- foreach item -->
            <div class="col-12 col-md-4   mb-5">
                <div class="d-flex flex-column card h-100 pb-3">
                    <a routerLink="" class="text-dark">
                        <div class="position-relative text-center border-black border-1">
                            <img src="assets/images/topicEx.png" height="100%" width="100%" alt="">
                        </div>
                        <div class="text-center">
                            <h3 class="mb-2">عنوان الدرس</h3>
                        </div>
                    </a>
                </div>
            </div>
            <!-- end:foreach item -->

        </div>

        <!-- row2 -->
        <div class="row">
          
            <!-- foreach item -->
            <div class="col-12 col-md-4   mb-5">
                <div class="d-flex flex-column card h-100 pb-3">
                    <a routerLink="" class="text-dark">
                        <div class="position-relative text-center border-black border-1">
                            <img src="assets/images/topicEx.png" height="100%" width="100%" alt="">
                        </div>
                        <div class="text-center">
                            <h3 class="mb-2">عنوان الدرس</h3>
                        </div>
                    </a>
                </div>
            </div>
            <!-- end:foreach item -->

            <!-- foreach item -->
            <div class="col-12 col-md-4   mb-5">
                <div class="d-flex flex-column card h-100 pb-3">
                    <a routerLink="" class="text-dark">
                        <div class="position-relative text-center border-black border-1">
                            <img src="assets/images/topicEx.png" height="100%" width="100%" alt="">
                        </div>
                        <div class="text-center">
                            <h3 class="mb-2">عنوان الدرس</h3>
                        </div>
                    </a>
                </div>
            </div>
            <!-- end:foreach item -->

            <!-- foreach item -->
            <div class="col-12 col-md-4   mb-5">
                <div class="d-flex flex-column card h-100 pb-3">
                    <a routerLink="" class="text-dark">
                        <div class="position-relative text-center border-black border-1">
                            <img src="assets/images/topicEx.png" height="100%" width="100%" alt="">
                        </div>
                        <div class="text-center">
                            <h3 class="mb-2">عنوان الدرس</h3>
                        </div>
                    </a>
                </div>
            </div>
            <!-- end:foreach item -->
             
        </div>


        <!-- row3 -->
        <div class="row">
           
            <!-- foreach item -->
            <div class="col-12 col-md-4   mb-5">
                <div class="d-flex flex-column card h-100 pb-3">
                    <a routerLink="" class="text-dark">
                        <div class="position-relative text-center border-black border-1">
                            <img src="assets/images/topicEx.png" height="100%" width="100%" alt="">
                        </div>
                        <div class="text-center">
                            <h3 class="mb-2">عنوان الدرس</h3>
                        </div>
                    </a>
                </div>
            </div>
            <!-- end:foreach item -->

            <!-- foreach item -->
            <div class="col-12 col-md-4   mb-5">
                <div class="d-flex flex-column card h-100 pb-3">
                    <a routerLink="" class="text-dark">
                        <div class="position-relative text-center border-black border-1">
                            <img src="assets/images/topicEx.png" height="100%" width="100%" alt="">
                        </div>
                        <div class="text-center">
                            <h3 class="mb-2">عنوان الدرس</h3>
                        </div>
                    </a>
                </div>
            </div>
            <!-- end:foreach item -->

            <!-- foreach item -->
            <div class="col-12 col-md-4   mb-5">
                <div class="d-flex flex-column card h-100 pb-3">
                    <a routerLink="" class="text-dark">
                        <div class="position-relative text-center border-black border-1">
                            <img src="assets/images/topicEx.png" height="100%" width="100%" alt="">
                        </div>
                        <div class="text-center">
                            <h3 class="mb-2">عنوان الدرس</h3>
                        </div>
                    </a>
                </div>
            </div>
            <!-- end:foreach item -->
             
        </div>
    </div>
</section>


