<!-- ---------- Admin Header ------ -->
<header id="header-admin" class="header-admin fixed-top d-flex align-items-center justify-content-between">
  
  <div class="flex-grow-1">
    <a routerLink="/" class="logo-admin">
      <!-- <img src="../../../assets/images/logo4.png" alt=""> -->
      <span class=" d-lg-block mr-5" >مُـــــبــــــــــــــــــــادر  </span>
    </a>
  </div>
  
  <div class=" pt-2 ml-4 ">
      <a (click)="signOut()" role="button" class="d-flex justify-content-center align-content-center">
        <i class="fas fa-sign-out-alt pt-1"></i>
        <h5 class="px-2 font-weight-bold">تسجيل الخروج </h5>
      </a>
  </div>

</header>
<!-- End Admin Header -->