<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">
  
      <!-- -----------1------------ -->
      <li class="nav-item">
        <a class="nav-link active" routerLink="/admin-dash">
          <i class="bi bi-person"></i>
          <span>بيانات الحساب</span>
        </a>
      </li>
  
      <!-- -----------2------------ -->
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin-grades">
          <i class="bi bi-menu-button-wide"></i>
          <span>المراحل الدراسية</span>
        </a> 
      </li>
  
      <!-- -----------3------------ -->
      <li class="nav-item mb-2">
        <a class="nav-link " routerLink="/admin-topic">
          <i class="bi bi-journal-text"></i>
          <span>إضافة درس جديد</span>
        </a>
      </li>
  
      <!-- should appear only for admin -->
      <li class="nav-heading mt-5">صلاحيات الادمن</li>
  
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin-users">
          <i class="bi bi-journal-text"></i>
          <span> المستخدمين</span>
        </a>
      </li>
  
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="bi bi-journal-text"></i>
          <span>معلومات الاتصال</span>
        </a>
      </li>
  
    </ul>
  
  </aside>