<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">
  
      <!-- -----------1------------ -->
      <li class="nav-item">

        <a class="nav-link active" [routerLink]="['/admin-dash', user_id]">
          <i class="bi bi-person"></i>
          <span>بيانات الحساب</span>
        </a>
      </li>
  
      <!-- -----------2------------ -->
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin-grades">
          <i class="bi bi-menu-button-wide"></i>
          <span>المراحل الدراسية</span>
        </a> 
      </li>
  
      <!-- -----------3------------ -->
      <li class="nav-item mb-2">
        <a class="nav-link " routerLink="/admin-topic">
          <i class="bi bi-journal-text"></i>
          <span>إضافة درس جديد</span>
        </a>
      </li>
  
      <!-- should appear only for admin -->
      <ng-container *ngIf="AdminRole">
        <li class="nav-heading mt-5">صلاحيات الادمن</li>
    
        <li class="nav-item">
          <a class="nav-link" routerLink="/admin-users">
            <i class="bi bi-people-fill"></i>
            <span> المستخدمين</span>
          </a>
        </li>
    
        <li class="nav-item">
          <a class="nav-link" routerLink="/admin-edit-contact">
            <i class="bi bi-briefcase"></i>
            <span>معلومات التواصل</span>
          </a>
        </li>
      </ng-container>
  
    </ul>
  
  </aside>