<div class="questions">
  
  <!-- questions section -->
  <div *ngIf="question!=null; else showScore" class="question-box">
    
        <div class="question-title quiz-info justify-content-between">
          <h4>  س  {{i+1}} </h4>
          <h4>عدد الأسئلة : {{totalQuestions}} </h4>
        </div>

        <h3 class="ques-text mt-3 mb-2 font-weight-bold">{{question.question}}</h3>

        <!-- the image -->
        <div *ngIf="question.imagePath" style="padding: 15px;" class="d-flex justify-content-center">
          <img [src]="question.imagePath" alt="Question Image" class="question-image" />
        </div>

        <div class="options py-2" *ngFor="let option of question.options">
            <input
              type="radio"
              [attr.name]="'option' + i"
              [attr.id]="'option' + i + 'value'"
              [value]="option"
              (change)="onSelecting($any($event.target).value)"/>
            {{option}}
        </div>

        <div class="row d-flex justify-content-between" style="padding: 15px;">
          <button class="prev px-3 ms-auto" *ngIf="i>0" (click)="onPrev()">السابق</button>
          <button class="next px-3" *ngIf="i!=totalQuestions-1" (click)="onNext()">التالي</button>
          <button class="next px-3 " *ngIf="i==totalQuestions-1" (click)="onNext()">إنهاء الاختبار</button>
        </div>
  </div>
      
  <!-- score section -->
  <ng-template #showScore>

    <!-- section 1: The score -->
    <div class="score mt-5 mb-3">
      <h3 class="btn px-5">الدرجة : {{this.score}} / {{totalQuestions}}</h3>
    </div>
      
    <!-- section 2: Display each answered question with user's answer and correct answer -->
    <div *ngFor="let answeredQuestion of answeredQuestions; let i = index" class="answered-question-row mr-5">
      <div class="answered-question">
        <p style="font-size: 18px; font-weight: bold;">{{answeredQuestion.question.question}}</p>

        <p *ngFor="let option of answeredQuestion.question.options">
          <input
            type="radio"
            [name]="'question' + i"
            [value]="option"
            [checked]="answeredQuestion.userAnswer === option"
            disabled
          />
          <span [ngClass]="{'user-answer-correct': answeredQuestion.isCorrect && answeredQuestion.userAnswer === option, 'user-answer-incorrect': !answeredQuestion.isCorrect && answeredQuestion.userAnswer === option}">
            {{option}}
          </span>
        </p>

        <!-- display the correct answer only if the user's answer is incorrect -->
        <p *ngIf="!answeredQuestion.isCorrect" class="correct-answer">
          الإجابة الصحيحة :  {{answeredQuestion.question.answer}}
        </p>

      </div>
    </div>

    <!-- section 3: Button to begin/do the quiz again-->
    <div class="row d-flex justify-content-center mb-4">
      <button class="btn btn-success mb-2" (click)="refreshQuiz()">إعـــادة الاختـبـــار</button>
    </div>

  </ng-template>

</div>
  