<div class="login-form">
    <form action="">
      <div id="close-login-form" class="fas fa-times"></div>
         <a href="#" class="logo mr-auto"> <p class="pb-2">شبكـة مبــادر التعليميــة</p></a>
         <input type="email" name="" placeholder="اســم المستـــخدم" id="username" class="box rounded-pill">
         <input type="password" name="" placeholder="كلمـــــة الســــــــر" id="password" class="box rounded-pill">
         <input type="submit" value="دخــــــول" class="login-btn-design rounded-pill">
         <!-- <p class="account rounded-pill">don't have an account? <a href="#">create one!</a></p> -->
      </form>
</div>

