<section class="topic mt-8">
    <div class="container">
        <div class="row">
            <div class="col-9 pl-3">
                <h1 class="">شرح الدرس: الدوال الهندسية</h1>
                <small class="pg-title-info text-muted">الصف الأول • مادة الرياضيات</small>
                <p>عزيزي الطالب يسعدنا أن نقدم لكم مجموعة من الأسئلة المتنوعة على الوحدة الثانية مادة الرياضيات المتقدمة
                    متبوعة باختبار الكتروني عبر شبكة مبادر التعليمية
                    تم تجميع هذه الأسئلة من اختبارات كامبريدج وترجمتها وصياغتها بشكل مبسط</p>
            </div>
            <div class="col-3 pr-5">
                <div class="">
                    <h3>قائمة الدرس</h3>
                </div>
                <div class="">
                    <ul>
                        <li>شرح الدرس</li>
                        <li>فيديو الدرس</li>
                        <li>تمارين الدرس</li>
                        <li>اختبار الدرس</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>    
</section>
