<section class="topic mt-8">
    <div class="container">
        <div class="row">

            <!-- left side -->
            <div class="left col-lg-3 col-sm-12 pl-5 mb-5">
                <div class="title mt-3">
                    <h3 class="font-weight-bold">قائـمـــــة الـــدرس</h3>
                </div>
                <div class="">
                    <ul class="list-unstyled ">
                        <li><a href="#video">فيديو الدرس</a></li>
                        <li><a href="#explain">شرح الدرس</a></li>
                        <!-- <li><a href="#questions">تمارين الدرس</a></li> -->
                        <li><a routerLink="/quiz">اختبار الدرس</a></li>
                    </ul>
                </div>
            </div>

            <!-- right side -->
            <div class="right col-lg-9 col-sm-12 pr-5">
                <div class="row d-flex">
                    <div class="flex-grow-1">
                        <h1 class="font-weight-bold"> الدرس: الدوال الهندسية</h1>
                        <small class="pg-title-info text-muted">الصف الأول • مادة الرياضيات</small>
                    </div>
                    <div class=" w-25">
                        <button class="btn exam-btn" routerLink="/quiz">اختبار الدرس</button>
                    </div>
                </div>
                
                <!-- <p class="my-5">
                    عزيزي الطالب يسعدنا أن نقدم لكم مجموعة من الأسئلة المتنوعة على الوحدة الثانية مادة الرياضيات المتقدمة
                    متبوعة باختبار الكتروني عبر شبكة مبادر التعليمية
                    تم تجميع هذه الأسئلة من اختبارات كامبريدج وترجمتها وصياغتها بشكل مبسط
                </p> -->
                <!-- فيديو الدرس -->
                <div id="video" class="d-flex justify-content-center mb-2 mt-5">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/rowgchJcloc?si=hobtWqprpJiwm8F5" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
                <!-- شرح الدرس -->
                <div id="explain"></div>
                <div>

                    <ckeditor
                      [editor]="Editor"
                      [(ngModel)]="articleData"
                      [config]="viewerConfig"
                      [disabled] = "viewerReadonly">
                    </ckeditor>


                    <div class="row mt-5 mb-3">
                        <h3 class="file-title font-weight-bold">الملفات المرفقة</h3>
                    </div>
                    <div class="row mb-5 ">
                        <img src="assets/images/icons/pdf.png" height="40px" width="40px" alt="ملف pdf" >
                        <p class="pdf-link pt-3 pr-2 text-muted text-decoration-underline"> نموذج ملف</p>
                        <a class="" href="">
                            <img class="pt-3 mr-5" src="assets/images/icons/download.png" height="30px" width="25px" alt="تنزيل الملف" >
                        </a>
                    </div>
                    
                </div>
            </div>

            
        </div>
    </div>    
</section>
