@import url('https://fonts.googleapis.com/css?family=Tajawal:wght@200;300;400;500;700;800&display=swap');

:root {
  --Navcolor: #7D1538;
  --lightTxtColor: #EEEBD3;
  --greyBackground: #eee;
  --orange: #bc2c1a;
  --yellow: #DACC3E;
  --skublue: #d3f3ee;
}

body {
  text-align: right;
}

* {
  font-family: 'Tajawal', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none !important;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

html {
  font-size: 72.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: var(--Navcolor);
}

@-webkit-keyframes fadeIn {
  0% {
    -webkit-transform: translateY(-2rem);
            transform: translateY(-2rem);
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    -webkit-transform: translateY(-2rem);
            transform: translateY(-2rem);
    opacity: 0;
  }
}

section {
  padding: 5rem 1rem;
}


.heading {
  text-align: center;
  margin-bottom: 4rem;
  font-size: 3rem;
  text-transform: capitalize;
  color: #222;
}


/* button styles */
.link-btn {
  margin-top: 1rem;
  padding: 1rem 3rem;
  display: inline-block;
  border: 0.1rem solid var(--Navcolor);
  color:var(--Navcolor);
  background: none;
  cursor: pointer;
  font-size: 1.7rem;
}

.link-btn:hover {
  background: var(--Navcolor);
  color: var(--lightTxtColor);
}

.login-btn-design {
  margin-top: 1rem;
  padding: 1rem 3rem;
  display: inline-block;
  /* border: 0.1rem solid var(--Navcolor); */
  color:var(--lightTxtColor);
  background-color: var(--Navcolor);
  font-size: 1.7rem;
}



/* header/navbar section */
.header {
  z-index: 1000;
  /* top right bottom left */
  /* padding: 3rem 0 0.5rem 0; */
  padding: 1rem 0;
  background: var(--Navcolor);
}


.header.active {
  padding: 1rem 0;
  /* background: var(--Navcolor); */
}

/* كلمة مبادر */
.header .logo {
  font-size: 2.5rem;
  color: var(--lightTxtColor);
  font-weight: bolder;
  padding-top: 0;
}

.header .nav a {
  font-size: 1.8rem;
  margin-left: 2rem;
  color: var(--lightTxtColor);

}

.header .nav a:hover {
  text-decoration: underline !important;
  text-underline-offset: .5rem;
}

.header .icons div {
  font-size: 2.5rem;
  color: var(--lightTxtColor);
  margin-right: 4rem;
  cursor: pointer;
}

.header #menu-btn {
  display: none;
}






/* login form section */
.login-form {
  position: fixed;
  top: 10px;
  left: 0;
  z-index: 1100;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem;
}

.login-form.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.login-form form {
  width: 50rem;
  padding: 4rem;
  background: var(--lightTxtColor);  /* #eee */
  text-align: center;
  position: relative;
  -webkit-animation: fadeIn .2s linear;
          animation: fadeIn .2s linear;
}

.login-form form #close-login-form {
  position: absolute;
  top: -4rem;
  right: 0;
  font-size: 3rem;
  cursor: pointer;
  color: var(--lightTxtColor);
}

.login-form form #close-login-form:hover {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.login-form form .logo {
  font-size: 2.5rem;
  color: var(--Navcolor);
  font-weight: bolder;
}

.login-form form h3 {
  padding: 1rem 0;
  font-size: 2rem;
  text-transform: capitalize;
  color: #222;
  margin-top: 1rem;
}

.login-form form .box {
  width: 100%;
  padding: 1.2rem 1.4rem;
  border: 0.1rem solid var(--Navcolor);
  font-size: 1.6rem;
  margin: 1rem 0;
}

.login-form form .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: .5rem;
  margin: 1rem 0;
}

.login-form form .flex label {
  font-size: 1.5rem;
  line-height: 2;
  color: #666;
  margin-bottom: 0;
  cursor: pointer;
}

.login-form form .flex a {
  font-size: 1.5rem;
  color: var(--Navcolor);
  margin-left: auto;
}

.login-form form .flex a:hover {
  text-decoration: underline !important;
}

.login-form form .link-btn {
  width: 100%;
  margin-bottom: 2rem;
}

.login-form form .account {
  padding: 1.5rem .5rem;
  background: #eee;
  font-size: 1.5rem;
  line-height: 2;
  color: #666;
  margin-bottom: 0;
}

.login-form form .account a {
  color:var(--Navcolor);
}

.login-form form .account a:hover {
  text-decoration: underline !important;
}



/* home section */
.home {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(../images/math-bg33.jpg) no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/math-bg33.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.home span {
  font-size: 2.8rem;
  color: var(--lightTxtColor);
}

.home h4 {
  padding: 1rem 0;
  font-size: 4rem;
  font-weight: 700;
  color: var(--lightTxtColor);
}

.home .link-btn {
  color: var(--lightTxtColor);
  border-color: var(--lightTxtColor);
}





/* about us section */
/* .about span {
  font-size: 2.5rem;
  color: var(--Navcolor);
} */

.about .title {
  padding-top: 1rem;
  font-size: 3rem;
  text-transform: capitalize;
  color: #222;
  color: var(--Navcolor);
}

.about p {
  padding: 1rem 0;
  font-size: 1.6rem;
  line-height: 2;
  color: #666;
  margin-bottom: 0;
}

.about .icons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 3rem;
  gap: 1.5rem;
}

.about .icons-container .icons {
  padding: 2rem;
  background: #eee;
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 14rem;
          flex: 1 1 14rem;
}

.about .icons-container .icons i {
  font-size: 4rem;
  margin-bottom: 1.5rem;
  color: var(--Navcolor);
}

.about .icons-container .icons h3 {
  font-size: 2rem;
  text-transform: capitalize;
  color: #222;
}

.about .p-about {
  font-size: x-large;
}



/* reviews section */
.reviews {
  background: #eee;
}

.reviews .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
}

.reviews .box-container .box {
  text-align: center;
  padding: 3rem 2rem;
  border-radius: .5rem;
}

.reviews .box-container .box:hover {
  background: #fff;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  -webkit-transform: translateY(-1rem);
          transform: translateY(-1rem);
}

.reviews .box-container .box img {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  margin-bottom: 1.5rem;
}

.reviews .box-container .box h3 {
  font-size: 2rem;
  text-transform: capitalize;
  color: #222;
}

.reviews .box-container .box p {
  font-size: 1.6rem;
  line-height: 2;
  color: #666;
  margin-bottom: 0;
  padding: 1rem 0;
}

.reviews .box-container .box .stars {
  margin-top: 1rem;
}

.reviews .box-container .box .stars i {
  font-size: 1.7rem;
  color: var(--Navcolor);
}




/* contact us section */
.contact .contact-info-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
  margin-bottom: 3rem;
}

.contact .contact-info-container .box {
  border: 0.1rem solid var(--Navcolor);
  padding: 3rem 2rem;
  border: 0.1rem solid var(--Navcolor);
  text-align: center;
}

.contact .contact-info-container .box:hover i {
  background: var(--Navcolor);
  color: #fff;
}

.contact .contact-info-container .box i {
  height: 6rem;
  width: 6rem;
  line-height: 6rem;
  border: 0.1rem solid var(--Navcolor);
  color: var(--Navcolor);
  font-size: 2rem;
  margin-bottom: 1rem;
}

.contact .contact-info-container .box h3 {
  font-size: 2rem;
  text-transform: capitalize;
  color: #222;
  padding: 1rem 0;
}

.contact .contact-info-container .box p {
  font-size: 1.5rem;
  line-height: 2;
  color: #666;
  margin-bottom: 0;
}




/* newsletter section */
.newsletter {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(../images/newsletter-bg.jpg) no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/newsletter-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
}

.newsletter h3 {
  font-size: 4rem;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 0;
}

.newsletter p {
  padding: 1rem 0;
  font-size: 2rem;
  color: #fff;
}

.newsletter form {
  margin: 1rem auto;
  max-width: 60rem;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
}

.newsletter form .link-btn {
  margin-top: 0;
}

.newsletter form .email {
  width: 100%;
  padding: 0 1.4rem;
  font-size: 1.6rem;
}





/* footer section */
.footer {
  text-align: center;
  background-color: var(--greyBackground);
}

.footer .logo {
  font-size: 2.3rem;
  color: var(--Navcolor);
  /* color: #000; */
  font-weight: bold;
}

/* .footer .credit {
  margin: 2rem 0;
  font-size: 2rem;
  text-transform: capitalize;
  color: #222;
} */

/* .footer .credit span {
  text-decoration: underline !important;
} */

.footer .share {
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.footer .share a {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  border: 0.1rem solid var(--Navcolor);
  color: var(--Navcolor);
  margin: 0 .3rem;
}

.footer .share a:hover {
  background: var(--Navcolor);
  color: #fff;
}

.footer .foot {
  font-size: medium;
}

.footer ul li {
  font-size: large;
  padding: 10px 0px;
  border-bottom:1px solid #484646;
}
.footer ul li a{
color: #111;
}






@media (max-width: 991px) {
  html {
    font-size: 55%;
    scroll-padding-top: 8rem;
  }
  .home h3 {
    font-size: 4rem;
  }
  section {
    padding: 3rem 0;
  }
}





@media (max-width: 768px) {
  .login-form form {
    padding: 3rem 2rem;
  }
  .login-form form h3 {
    font-size: 1.7rem;
  }
  .header {
    padding: 2rem 2rem;
  }
  .header.active {
    padding: 1rem;
  }
  .header #menu-btn {
    display: inline-block;
  }
  .header #menu-btn.fa-times {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .header .nav {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: #fff;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    padding: 1rem 0;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .header .nav.active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .header .nav a {
    margin: 1rem 2rem;
    color: #222;
  }
  .contact .map {
    height: 25rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}












/* -----------المراحل الدراسية----------*/
#team .team-block {
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
  height: 254px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

@media (max-width: 991px) {
  #team .team-block {
    margin-bottom: 30px;
  }
}

#team .team-block img {
  width: 100%;
}

#team .team-block .team-content {
  background: #DACC3E none repeat scroll 0 0;
  bottom: 0;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2), 0 0 0 0 rgba(0, 0, 0, 0.19);
  bottom: -147px;
  padding: 20px 0;
  position: absolute;
  width: 100%;
  transition: all 0.5s ease-in-out 0s;
}

#team .team-block .team-content ul {
  display: block;
  width: 100%;
}

#team .team-block .team-content ul li {
  display: inline-block;
}

#team .team-block .team-content ul li a {
  color: #626262;
}

#team .team-block .team-content ul li a .fa {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  transition: 0.3s;
}

#team .team-block .team-content ul>span {
  display: inline-block;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.5px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

#team .team-block:hover .team-content {
  bottom: 0px;
  transition: all 0.5s ease-in-out 0s;
}






/*---------صفحة الصف الدراسي grade------------*/
.services .icon-box {
  padding: 30px;
  position: relative;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 0 29px 0 rgba(68, 88, 144, 0.12);
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
  z-index: 1;
}

.services .icon-box::before {
  content: "";
  position: absolute;
  background: #f9f195;
  right: -60px;
  top: -40px;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  transition: all 0.3s;
  z-index: -1;
}

.services .icon-box:hover::before {
  background: #dacc3a;
  opacity: 0.8;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 0px;
}

.services .icon {
  margin: 0 auto 20px auto;
  padding-top: 10px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background: #fff;
  transition: all 0.3s ease-in-out;
}

.services .icon i {
  font-size: 36px;
  line-height: 1;
  color: #fff;
}

.services .title {
  /* font-weight: 700; */
  margin-bottom: 15px;
  font-size: 25px;
}

.services .title a {
  color: #111;
}

.services .description {
  font-size: 15px;
  line-height: 28px;
  margin-bottom: 0;
}

.services .icon-box:hover .title a,
.services .icon-box:hover .description {
  color: #111;
}

.services .icon-box:hover .icon {
  background: #fff;
}

.services .icon-box:hover .icon i {
  color: var(--Navcolor);
}




/* for margin top navigation bar */
.mt-8 {
  margin-top:8rem;
}
.mb-8 {
  margin-bottom: 8rem;
}
.mt-5-5 {
  margin-top: 5.2rem;
}





/* subject page */
.portfolio-menu{
	text-align:center;
}

.portfolio-menu ul{
  font-size:large;

}

.portfolio-menu ul li{
	display:inline-block;
	margin:0;
	list-style:none;
	padding:10px 15px;
	cursor:pointer;
	-webkit-transition:all 05s ease;
	-moz-transition:all 05s ease;
	-ms-transition:all 05s ease;
	-o-transition:all 05s ease;
	transition:all .5s ease;
}

.portfolio-menu ul li:hover{
  color: var(--Navcolor);
}
.portfolio-menu ul li:active{
  color: var(--Navcolor);
}





/* topic page */
.topic {
  font-size: large;
  /* font-size: 100%; */
}
.pg-title-info {
  /* font-size: larger; */
  font-size: 20px;
}
.topic .left ul li {
  padding: 10px 0px;
  border-bottom:1px solid #484646;
}
.topic .left ul li a{
color: #111;
}
.topic .left .title h3 {
  font-size: 20px;
}


.topic .right .topic-img {
  display: flex;
  justify-content: center;
}
.topic .right .pdf-link :hover {
  color: var(--Navcolor);
}
.topic .right .file-title {
  border-bottom: 1px solid #111;
}
.topic .right .exam-btn{
  background-color: #DACC3E;
  color: black;
  font-size: large;

}




/* quiz page including questions and timer */

/* right side */
.quiz {
  font-size: large;
}
.quiz .left .title h3 {
  color: black;
}
.quiz .left ul li {
  padding: 10px 0px;
  border-bottom:1px solid #484646;
}
.quiz .left ul li a{
color: #111;
}
.quiz .left .title h3 {
  font-size: 20px;
}

/* left side */
.quiz .quiz-main {
  border: 1px solid #484646 ;
  background-color: var(--greyBackground);
}
.quiz .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--yellow);
}
.quiz .start {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
  margin-bottom: 200px;
}
.quiz .btn-quiz {
  /* padding: 12px 15px; */
  font-size: larger;
  background-color: var(--orange);
  color: #fff;
  border: none;
  border-radius: 0.5em;
  padding: 1rem 2rem;
}

.quiz button {
  padding: 12px 15px;
  font-size: large;
  /* background-color: var(--orange); */
  color: #fff;
  border: none;
  border-radius: 0.5em;
  /* padding: 1rem 2rem; */
}

.quiz  .quiz-questions {
  background-color: var(--greyBackground);
  height: 100%;
}

/* questions */
.questions {
  font-size: larger;
}
.questions .question-title {
  margin-bottom: 5px;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
}
.questions .ques-text {
  font-size: 20px;
}
.questions .question-box {
  padding: 25px;
}
.questions .options {
  margin-top: 10px;
}
.questions input {
  margin-right: 5px;
}
.questions .prev,
.questions .next {
  margin-top: 20px;
  color: #fff;
  border: none;
  border-radius: 0.5em;
  font-size: large;
  width: 200px;
}
.questions .prev {
  margin-right: 10px;
  background-color: var(--orange);
}
.questions .next {
  margin-left: 10px;
  background-color: #28a745;
}

/* score */
.questions .score {
  background-color: var(--greyBackground);
  /* height: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size:medium;
}
.questions .score h3{
  font-size: 20px;
  border: 1px solid var(--orange);
  padding: 3;
  color: white !important;
  background-color: var(--orange);
}

.correct-answer {
  color: green;
  font-weight: bold;
}
.answered-question-row {
  margin-bottom: 30px;
  font-size: 18px;
}


.user-answer-correct {
  color: green;
  font-weight: bold;
}

.user-answer-incorrect {
  color: red;
  font-weight: bold;
}

.correct-answer {
  color: green;
  font-weight: bold;
}

.incorrect-answer {
  color: red;
  font-weight: bold;
}

.question-image {
  max-width: 100%;  /* Ensure the image doesn't exceed the width of its container */
  max-height: 200px; /* Set a maximum height to limit the image size */
  width: auto;       /* Allow the width to adjust based on the max-width property */
  height: auto;      /* Allow the height to adjust based on the max-height property */
  margin-bottom: 10px;

   /* Add a border to the corners */
   border: 1px solid #000;
   border-radius: 10px;
}




 /* admin test page */
.ck.ck-editor__main>.ck-editor__editable:not(.ck-focused) {
  border: none !important;
  border-color: transparent;
}

.ck-rounded-corners .ck.ck-editor__top .ck-sticky-panel .ck-toolbar{
  border: none !important;
}




