<!-- admin Header -->
<app-ad-header></app-ad-header>


<!-- ------- Admin Sidebar --------- -->
<app-ad-sidebar></app-ad-sidebar>


<main id="main" class="main">
    <div class="row">
      <div class="container regular-font-size">

        <div class="card">
            <div class="card-body pt-3">
  
                <!-- title -->
                <h1 class="font-weight-bold py-2 mb-5 title"> معلومات التواصل بالموقع </h1> 
  

                <!-- the table -->
                <div class="row mt-5 mr-1" style="font-size: 17px;" >
                    <table class="table table-hover table-borderless mx-4 w-75">
                        <tbody>
                            <tr>
                                <th class="align-middle">
                                    <i class="fas fa-phone ml-3 mt-1 blue-bold-text"></i>
                                    <label class="col-form-label label blue-bold-text" > هاتــــف </label>
                                </th>
                                <td class="align-middle"> 
                                    <label class="col-form-label label" > {{phoneNo}} </label>
                                </td>
                                <td>
                                    <input type="button" value="تعديل" data-toggle="modal" data-target="#edit-phone-modal" class="btn btn-warning btn-lg px-3 mr-5" >
                                </td>
                            </tr>
                            <tr>
                                <th class="align-middle">
                                    <i class="fas fa-envelope ml-3 mt-1 blue-bold-text"></i>
                                    <label class="col-form-label label blue-bold-text" > بريد الكتروني </label>
                                </th>
                                <td class="align-middle"> 
                                    <label class="col-form-label label" > {{email}} </label>
                                </td>
                                <td>
                                    <input type="button" value="تعديل" data-toggle="modal" data-target="#edit-email-modal" class="btn btn-warning btn-lg px-3 mr-5" >
                                </td>
                            </tr>   
                            
                        </tbody>
                    </table>       
                </div>

            </div>
        </div>

      </div>
    </div>

</main>


<app-ad-footer></app-ad-footer>



<!-- -------- modals ------------- -->

<!-- Modal 1 -->
<div class="modal" id="edit-phone-modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content p-4">
            <!-- Modal Header -->
            <div class="modal-header d-flex justify-content-between mb-3">
                <h3 class="modal-title flex-grow-1 font-weight-bold">تعديــــل رقم الهاتـــف </h3>
                <button type="button btn-modal-close" class="close" data-dismiss="modal">&times;</button>
            </div>
            <form [formGroup]="PhoneForm" (ngSubmit)="UpdatePhone()">
                <!-- Modal body -->
                <div class="modal-body">
    
                    <div class="form-row mb-4">
                        <div class="col-md-5">
                            <label class=" col-form-label">رقـم الهاتـــف الجديـــد</label>
                        </div>
                        <div class="col-md-7 mb-2">
                            <input type="text" formControlName="NewPhoneNo" class="form-control py-2 smaller-font-size">
                        </div>
                    </div>
                     
                </div>
                <!-- Modal footer -->
                <div class="modal-footer d-flex justify-content-between">
                    <button type="button" class="btn btn-secondary btn-lg smaller-font-size" data-dismiss="modal">إلغـــاء</button>
                    <button type="submit" [disabled]="PhoneForm.invalid" class="btn btn-success btn-lg smaller-font-size">حفـــــــظ</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal 2 -->
<div class="modal" id="edit-email-modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content p-4">
            <!-- Modal Header -->
            <div class="modal-header d-flex justify-content-between mb-3">
                <h3 class="modal-title flex-grow-1 font-weight-bold">تعديــــل البريد الاكتروني </h3>
                <button type="button btn-modal-close" class="close" data-dismiss="modal">&times;</button>
            </div>
            <form [formGroup]="EmailForm" (ngSubmit)="UpdateEmail()">
                <!-- Modal body -->
                <div class="modal-body">

                    <div class="form-row mb-4">
                        <div class="col-md-5">
                            <label class=" col-form-label"> البريد الاكتروني الجديـــد</label>
                        </div>
                        <div class="col-md-7 mb-2">
                            <input type="email" formControlName="NewEmail" class="form-control py-2 smaller-font-size">
                        </div>
                    </div>
                    
                </div>
                <!-- Modal footer -->
                <div class="modal-footer d-flex justify-content-between">
                    <button type="button" class="btn btn-secondary btn-lg smaller-font-size" data-dismiss="modal">إلغـــاء</button>
                    <button type="submit" [disabled]="EmailForm.invalid" class="btn btn-success btn-lg smaller-font-size">حفـــــــظ</button>
                </div>
            </form>

        </div>
    </div>
</div>
