<!-- login form starts -->
<app-login-form></app-login-form>
<!-- login form ends -->

<!-- Navigation Bar section starts     -->
<header class="header fixed-top mb-5">
  <div class="container">
      <div class="row d-flex align-content-center">
        <a href="/" class="logo flex-grow-1"> 
            <img src="assets/images/logoSM.png" width="60" height="60" class="ml-2" alt=""/>
            مُـــــبــــــــــــــــــــادر              
        </a>
        <div class="d-flex" style="padding-top: 1rem;">
            <nav class="nav">
              <a href="/">الصفحة الرئيسية</a>
              <a href="/all-grades">المراحـل الدراسيــة</a>
              <a href="#about">نبــذة عنَـــــا</a>
              <a href="#contact">تواصـــل معنـــا</a>
            </nav>
            <div class="icons">
              <div id="menu-btn" class="fas fa-bars"></div>
              <div id="login-btn" class="fas fa-user"></div>
            </div>
        </div>
      </div>
  </div>
</header>
<!-- Navigation Bar section ends    -->