<!-- home section starts  -->
<section class="home mb-5" id="home">
   <div class="container">
      <div class="row align-items-center text-md-right min-vh-100">
         <div class="col-md-6">
            <span class="mb-2">شبكـة مبــادر التعليميــة</span>
            <h4>قناة تعليمية تقدم مجموعة متنوعة من دروس مادة الرياضيات</h4>
            <!-- <a href="#" class="link-btn">Get Started</a> -->
         </div>
      </div>
   </div>
</section>
<!-- home section ends -->

   
<!-- about section starts  -->
<div id="about"></div>
<section class="about mt-8 mb-8" >
   <div class="container">
      <div class="row align-items-center">
         <div class="col-md-4">
            <img src="assets/images/logo4.png" class="w-100" alt="">
         </div>
         <div class="col-md-8">
            <h3 class="title font-weight-bold">شبـــكة مبـــادر التعليميــة</h3>
            <!-- <h3 >العربية</h3> -->
            <p class="p-about">نهتم بنشر كل ما يفيد الطلاب والمعلمين والبيئة المدرسية </p>
            <!-- <a href="#" class="link-btn">المزيد</a> -->
            <div class="icons-container mt-5">
               <div class="icons">
                  <i class="fas fa-video"></i>
                  <h3>فيديوهــات
                     <br> تعليميـــة</h3>
               </div>
               <div class="icons">
                  <i class="fas fa-file"></i>
                  <h3>ملفات وشروحات
                     <br> للدروس</h3>
               </div>
               <div class="icons">
                  <!-- <i class="fas fa-pen-square"></i> -->
                  <!-- <i class="fas fa-vote-yea"></i> -->
                  <!-- <i class="fas fa-file-signature"></i> -->
                  <i class="fas fa-clipboard-list"></i>
                  <h3>اختبــارات
                     <br> الكترونيــة</h3>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<!-- about section ends -->


<!-- grades section starts -->
<app-all-grades></app-all-grades>
<!-- grades section ends -->


<!-- reviews section starts  -->
<section class="reviews mt-5" id="reviews">
   <h1 class="heading font-weight-bold">مـــن آراء طـلابنـــــــا</h1>
   <div class="box-container container">

      <div class="box">
         <!-- <img src="assets/images/pic-2.png" alt=""> -->
         <h3 class="font-weight-bold">elyas_alsalhi</h3>
         <p>شكراً أستاذ مصطفى جزاك الله كل خير .
            أقول هذا الكلام صراحة و ليس مجاملة أنت أحسن مدرس للرياضيات .
            وفقك الله و أسعدك في الدارين .
            دعواتك لنا بكرة اختبار .
            محييك / إلياس الصالحي من سلطنة عمان 
            </p>
         <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
         </div>
      </div>

      <div class="box">
         <!-- <img src="assets/images/pic-3.png" alt=""> -->
         <h3 class="font-weight-bold" >mariamdr8965</h3>
         <p>بارك الله فيك يا مستر مصطفى 
            كنت صف سابع العام الماضي وبدئت اذاكر مع حضرتك واحضر مراجعاتك النهائيه للفصل الثاني وفرقت معايا جدا 
            حبيت الرياضيات اكتر وبقيت بفهمها اسرع من الاول وجبت ف الاختبار النهائي 39 من 40 والامتحان كان كله كان فيه افكار زي الافكار اللي جبتهالنا ف المراجعه النهائيه شكراا جدا ربنا يبارك ف حضرتك</p>
         <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
         </div>
      </div>

      <div class="box">
         <!-- <img src="assets/images/pic-1.png" alt=""> -->
         <h3 class="font-weight-bold" >Mariam Hamdan</h3>
         <p> ما شاء الله جزاك لله خيرا كثيرا ع المجهودات الجبارة التي تضحي بها في سبيل العلم اسكنك الله بجوار حبيبنا محمد(ص) واثابك اجر  المجاهدين اولادنا كلهم مستفيدين من قناتك رفعت عنا أعباء التحضير المراجعه....وفقك الله دائما وامدك بصحه وسعاده يارب</p>
         <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
         </div>
      </div>
   
   </div>
</section>
<!-- reviews section ends -->


<!-- contact section starts  -->
<section class="contact mt-5 mb-5" id="contact">
   <h1 class="heading font-weight-bold"> تواصــــل معنـــا  </h1>
   <div class="container">
      <div class="contact-info-container">
         <div class="box">
            <i class="fas fa-phone"></i>
            <h3>هاتف</h3>
            <p *ngIf="Contact_List">{{Contact_List.phoneNo}}</p>
         </div>
         <div class="box">
            <i class="fas fa-envelope"></i>
            <h3>بريد الكتروني</h3>
            <p  *ngIf="Contact_List">{{Contact_List.email}}</p>
         </div>
         <div class="box">
            <i class="fas fa-map"></i>
            <h3>موقعنا</h3>
            <p>سلطنة عمان</p>
         </div>
      </div>
   </div>
</section>
<!-- contact section ends -->
