<!-- admin Header -->
<app-ad-header></app-ad-header>


<!-- ------- Admin Sidebar --------- -->
<app-ad-sidebar></app-ad-sidebar>



<main id="main" class="main">
    <div class="row">
      <div class="container profile">

        <div class="card">
            <div class="card-body pt-3">
  
                <!-- title -->
                <h1 class="font-weight-bold py-2 mb-4 title"> إدارة المستخــــــدميــن </h1> 
  
                <!-- button -->
                <div class="row mr-2">
                    <button data-toggle="modal" data-target="#add-user-modal"
                            class="btn btn-dark btn-lg smaller-font-size px-4 py-2 mx-3 mb-2 mt-3">
                        <i class="bi bi-person-plus-fill ml-2"></i>
                            مستخـــــدم جـــــديد
                    </button>
                </div>
    
                <!-- the table -->
                <div class="row mt-3 mr-2" >
                    <table class="table table-hover text-center table-responsive-sm mx-4 w-100">
                        <thead>
                        <tr>
                            <th>م</th>
                            <th>اسم المستخدم</th>
                            <th>الصلاحية</th>
                            <th>اخر تعديل</th>
                            <th>اخر زيارة</th>
                            <th>  </th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th class="align-middle">1</th>
                                <td class="align-middle"> مثال </td>
                                <td class="align-middle"> مدير </td>
                                <td class="align-middle"> 2021-11-11 14:00:00  </td>
                                <td class="align-middle"> 2021-11-11 14:00:00  </td>
                                <td>
                                    <!-- Edit button -->
                                    <input type="button" value="تعديل" data-toggle="modal" data-target="#edit-user-modal" class="btn btn-warning btn-lg px-3 mx-3" >
                                    <!-- Delete button -->
                                    <input type="button" value="حذف" data-toggle="modal" data-target="#confirm-delete-modal" class="btn btn-danger btn-lg px-3 mx-3" >
                                </td>
                            </tr>

                            <tr>
                                <th class="align-middle">2</th>
                                <td class="align-middle"> مثال </td>
                                <td class="align-middle"> مشرف </td>
                                <td class="align-middle"> 2021-11-11 14:00:00  </td>
                                <td class="align-middle"> 2021-11-11 14:00:00  </td>
                                <td>
                                    <!-- Edit button -->
                                    <input type="button" value="تعديل" data-toggle="modal" data-target="#edit-user-modal" class="btn btn-warning btn-lg px-3 mx-3" >
                                    <!-- Delete button -->
                                    <input type="button" value="حذف" data-toggle="modal" data-target="#confirm-delete-modal" class="btn btn-danger btn-lg px-3 mx-3" >
                                </td>
                            </tr>
                        </tbody>
                    </table>       
                </div>
                       

            
            </div>
        </div>

      </div>
    </div>

</main>


<app-ad-footer></app-ad-footer>



<!-- -------- modals ------------- -->

<!-- Modal 1 -->
<div class="modal" id="confirm-delete-modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content p-4">
            <!-- Modal Header -->
            <div class="modal-header d-flex justify-content-between mb-3">
                <h3 class="modal-title flex-grow-1 font-weight-bold">حـــــذف مستخـــــدم </h3>
                <button type="button btn-modal-close" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div class="row mb-4">
                    <label class=" label mr-3">هــل أنت متأكد من أنك تريـــد حذف هذا المستخدم؟</label>
                </div>  
            </div>
            <!-- Modal footer -->
            <div class="modal-footer d-flex justify-content-between">
                <button type="button" class="btn btn-secondary btn-lg smaller-font-size" data-dismiss="modal">إلغـــاء</button>
                <button type="button" class="btn btn-danger btn-lg smaller-font-size">حـــــذف</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal 2 -->
<div class="modal" id="add-user-modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content p-4">
            <!-- Modal Header -->
            <div class="modal-header d-flex justify-content-between mb-3">
                <h3 class="modal-title flex-grow-1 font-weight-bold">إضافـــــة مستخـــــدم جديد</h3>
                <button type="button btn-modal-close" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <form [formGroup]="registerUserForm" (ngSubmit)="registerUser()">

                <div class="modal-body">
                    <div class="form-row mb-4">
                        <div class="col-md-4">
                            <label class=" col-form-label">اســـم المستخــــدم</label>
                        </div>
                        <div class="col-md-8 mb-2">
                            <input type="text" formControlName="username" class="form-control py-2 smaller-font-size">
                        </div>
                    </div>
    
                    <div class="form-row mb-4">
                        <div class="col-md-4">
                            <label class=" col-form-label">الصلاحيـــــــــة</label>
                        </div>
                        <div class="col-md-8 mb-2">
                            <select formControlName="role" class="custom-select dropdown-font-size mb-2">
                                <option value="1">مدير</option>
                                <option value="2">مدرس</option>
                            </select>
                        </div>
                    </div>
    
                    <div class="form-row mb-4">
                        <div class="col-md-4">
                            <label class="col-form-label label" >كلمة السر </label>
                        </div>
                        <div class="col-md-8 mb-2">
                          <input formControlName="password" type="password" class="form-control py-4 smaller-font-size">
                        </div>
                    </div>
                    <div class="form-row mb-4">
                        <div class="col-md-4">
                            <label class="col-form-label label" >تأكيد كلمة السر </label>
                        </div>
                        <div class="col-md-8 mb-2">
                          <input formControlName="confirmpass" type="password" class="form-control py-4 smaller-font-size">
                        </div>
                    </div>
                    
                    
                </div>

                <!-- Modal footer -->
                <div class="modal-footer d-flex justify-content-between">
                    <button type="button" class="btn btn-secondary btn-lg smaller-font-size" data-dismiss="modal">إلغـــاء</button>
                    <button type="button" type="submit" class="btn btn-success btn-lg smaller-font-size">إضافـــــة</button>
                </div>

            </form>
        </div>
    </div>
</div>

<!-- Modal 3 -->
<div class="modal" id="edit-user-modal">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content p-4">
            <!-- Modal Header -->
            <div class="modal-header d-flex justify-content-between mb-3">
                <h3 class="modal-title flex-grow-1 font-weight-bold">تعديــــل المستخـــدم </h3>
                <button type="button btn-modal-close" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="form-row mb-4">
                    <div class="col-md-4">
                        <label class=" col-form-label">اســـم المستخــــدم</label>
                    </div>
                    <div class="col-md-8 mb-2">
                        <input type="text" class="form-control py-2 smaller-font-size">
                    </div>
                </div>

                <!-- <div class="form-row mb-4">
                    <div class="col-md-4">
                        <label class=" col-form-label">الصلاحيـــــــــة</label>
                    </div>
                    <div class="col-md-8 mb-2">
                        <select class="custom-select dropdown-font-size mb-2">
                            <option selected>مدير</option>
                            <option value="1">مدرس</option>
                        </select>
                    </div>
                </div> -->

                <div class="form-row">
                    <label class="col-form-label label mt-2 mb-3 font-weight-bold" style="font-size: 17px;">تغيير كلمة السر </label>
                </div>

                <div class="form-row mb-4">
                    <div class="col-md-4">
                        <label for="Password" class="col-form-label label" >كلمة السر الجديدة </label>
                    </div>
                    <div class="col-md-8 mb-2">
                      <input name="password" type="password" class="form-control py-4 smaller-font-size" id="Password">
                    </div>
                </div>
                <div class="form-row mb-4">
                    <div class="col-md-4">
                        <label for="confirmPassword" class="col-form-label label" >تأكيد كلمة السر </label>
                    </div>
                    <div class="col-md-8 mb-2">
                      <input name="password" type="password" class="form-control py-4 smaller-font-size" id="confirmPassword">
                    </div>
                </div>

            </div>

            <!-- Modal footer -->
            <div class="modal-footer d-flex justify-content-between">
                <button type="button" class="btn btn-secondary btn-lg smaller-font-size" data-dismiss="modal">إلغـــاء</button>
                <button type="button" class="btn btn-success btn-lg smaller-font-size">حفــــظ</button>
            </div>
        </div>
    </div>
</div>