<footer class="footer text-lg-start">
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row">
      <!--Grid column 1(right)-->
      <div class="col-lg-4 mt-5-5 mb-3 pl-5">
        <!-- <h5 class="text-uppercase">Links1</h5> -->

        <ul class="list-unstyled">
          <li>
            <a routerLink="['/home'], {pagSec: 'about'}]" class="text-dark">نبــذة عنَـــــا</a>
          </li>
          <li>
            <a href="#contact" class="text-dark">تواصـــل معنـــا</a>
          </li>
        </ul>
      </div>

      <!--Grid column 2-->
      <div class="col-lg-4 mt-5 mb-3">
        <!-- <h5 class="text-uppercase mb-0">Links</h5> -->
        <a routerLink="/" class="logo mt-2"> شبكـة مُبــادر التعليميــة </a>

        <div class="share">
          <a class="fab fa-facebook-f"></a>
          <a class="fab fab fa-youtube"></a>
          <a class="fab fa-whatsapp-square"></a>
        </div>
      </div>

      <!--Grid column 3(left)-->
      <div class="col-lg-4 mt-5-5 mb-3 pr-5 ">
        <!-- <h5 class="text-uppercase">Links</h5> -->

        <ul class="list-unstyled">
          <li>
            <a routerLink="/" class="text-dark">مُـبــادر الصفحة الرئيسية </a>
          </li>
          <li>
            <a routerLink="/all-grades" class="text-dark">المراحـل الدراسيــة</a>
          </li>
        </ul>
      </div>
      
    </div>
  </div>


  <!-- Copyright -->
  <div class="text-center p-3 foot" style="background-color: rgba(0, 0, 0, 0.2);">
    جميع الحقوق محفوظه لمبادر التعليمية 2023©    تصميم وبرمجة  شركة مُــزن للبرمجة
    <!-- <a class="text-dark" href="https://mdbootstrap.com/">MDBootstrap.com</a> -->
  </div>
  <!-- Copyright -->

</footer>