<!-- admin Header -->
<app-ad-header></app-ad-header>


<!-- ------- Admin Sidebar --------- -->
<app-ad-sidebar></app-ad-sidebar>


<!-- ------------------------المواد----------------------------------- -->
<main id="main" class="main">
    <div class="row">
      <div class="container regular-font-size">

        <div class="card">
            <div class="card-body pt-3">
    
                <!-- title -->
                <h1 class="font-weight-bold py-2 mb-4 title mr-2"> مواد الصف {{ currentGradeTitle }}</h1> 

                <button  class="btn btn-primary btn-lg mt-3 mb-2 px-3 mx-3 smaller-font-size" data-toggle="modal" data-target="#add-subject-modal">
                    <i class="bi bi-journal-plus ml-2"> </i>
                    إضافة مادة جديد
                </button>      
    
                <!-- the table -->
                <div class="row mt-4 mr-3" >
                    <table class="table table-hover text-center mx-4 w-100">
                        <thead>
                        <tr>
                            <!-- <th>م</th> -->
                            <th>المادة</th>
                            <th class="pr-4">الحالة</th>
                            <th class="pr-4"></th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor=" let subject of Subject_List">
                                <!-- <th class="align-middle">1</th> -->
                                <td class="align-middle"> {{subject.name}} </td>

                                <td class="align-middle d-flex justify-content-center">
                                    <div class="checkbox-wrapper-8">
                                        <input type="checkbox" [id]="'checkbox' + subject.id" class="tgl tgl-skewed" [checked]="subject.isVisible"  (change)="onCheckboxChange($event, subject.id)">
                                        <label [for]="'checkbox' + subject.id" data-tg-on="ظاهر" data-tg-off="مخفي" class="tgl-btn"></label>
                                    </div>
                                </td>

                                <td class="align-middle">
                                    <input type="button" routerLink="/admin-all-topics" value="دروس المادة" class="btn btn-secondary btn-lg smaller-font-size px-3 mx-3" >
                                </td>

                            </tr>
                            
                        </tbody>
                    </table>       

                </div>

            </div>
        </div>

      </div>
    </div>

</main>


<app-ad-footer></app-ad-footer>






<!-- ------------ add subject modal ------------ -->
<div class="modal" id="add-subject-modal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content p-4">
            <!-- Modal Header -->
            <div class="modal-header d-flex justify-content-between mb-3">
                <h3 class="modal-title flex-grow-1 font-weight-bold">إضافة مادة جديد</h3>
                <button type="button btn-modal-close" class="close" data-dismiss="modal">&times;</button>
            </div>

            <form [formGroup]="Add_Subject_Form" (ngSubmit)="Add_new_subject()">
                <!-- Modal body -->
                <div class="modal-body">
                    
                    <div class="row mb-4">
                        <div class="col-lg-3 col-md-4 label "> اسم المادة</div>
                        <div class="col-lg-9 col-md-8">
                            <input type="text" formControlName="name" class="form-control smaller-font-size " >
                        </div>
                    </div>
            
                    <div class="row mb-2">
                        <div class="col-lg-3 col-md-4 pt-2">
                            <label for="toggle-add">حالة المادة</label>
                        </div>
    
                        <div class="col-lg-9 col-md-8">
                            <div class="checkbox-wrapper-8">
                                <input type="checkbox" formControlName="is_Visible" id="add_sub_checkbox" class="tgl tgl-skewed">
                                <label for="add_sub_checkbox" data-tg-on="ظاهر" data-tg-off="مخفي" class="tgl-btn"></label>
                            </div>
                        </div>
    
                    </div>
            
                </div>
            
                <!-- Modal footer -->
                <div class="modal-footer d-flex justify-content-between">
                    <button type="button" class="btn btn-danger smaller-font-size btn-lg" data-dismiss="modal">إغلاق</button>
                    <button type="submit" [disabled]="Add_Subject_Form.invalid" class="btn btn-primary smaller-font-size btn-lg">حفظ</button>
                </div>
            </form>
      </div>
    </div>
</div>
  