<!-- admin Header -->
<app-ad-header></app-ad-header>


<!-- ------- Admin Sidebar --------- -->
<app-ad-sidebar></app-ad-sidebar>


<!-- اضافة درس------------------------------ -->
<main id="main" class="main">
    <form class="" [formGroup]="editorForm" (ngSubmit)="confirm()">
        <div class="container ad-topic mt-3">

            <!-- card 1 -->
            <div class="row ">
                <div class="col">
                    <div class="card ">
                        <div class="card-body pt-3  m-4">
                            <!-- row 1 -->
                            <div class="form-row mb-3">

                                <div class="col-md-4 mb-3">
                                    <label class=" blue-text ml-3">الصف الدراسي</label>
                                    <select class="custom-select dropdown-font-size w-75 mb-2">
                                        <option selected>الصف الأول</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                </div>

                                <div class="col-md-4 mb-3">
                                    <label class=" blue-text ml-3"> المادة الدراسية</label>
                                    <select class="custom-select dropdown-font-size w-75 mb-2">
                                        <option selected>الصف الأول</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                </div>

                                <div class="col-md-4 mb-3">
                                    <label class=" blue-text ml-3">الفصل الدراسي</label>
                                    <select class="custom-select dropdown-font-size w-75 mb-2">
                                        <option selected>الفصل الدراسي الأول</option>
                                        <option value="1">الفصل الدراسي الثاني</option>
                                    </select>
                                </div>

                            </div>
                            
                            <!-- row 2 -->
                            <div class="form-row mb-4">
                                <div class="col-md-2">
                                    <label class=" col-form-label blue-text">عنــــــــوان الــــــــدرس</label>
                                </div>
                                <div class="col-md-10 mb-2">
                                    <input type="text" class="form-control py-4">
                                </div>
                            </div>

                            <!-- row 3 -->
                            <div class="form-row">
                                <div class="col-md-2">
                                    <label class=" col-form-label blue-text">رابـــــــــط الفيــــديــــــو</label>
                                </div>
                                <div class="col-md-10">
                                    <input type="text" class="form-control py-4">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- card 2 -->
            <div class="row ">
                <div class="col">
                    <div class="">
                        <div class="card">
                            <div class="card-body pt-3" id="ck-add-new">
                            
                                <label class=" col-form-label blue-text bigger-font-size  mb-2">محتــــــــوى الــــــــدرس</label>
                                    
                                <ckeditor
                                    formControlName="body"
                                    [editor]="Editor"
                                    [(ngModel)]="articleBody"
                                    [config]="editorConfig"
                                    (ready)="onReady($event)">
                                </ckeditor>
                
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            
            <!-- card 3 -->
            <div class ="row">
                <div class="col">
                    <div class="card">
                        <div class="card-body pt-3">
            
                            <!-- title -->
                            <label class="col-form-label blue-text bigger-font-size mb-4">الملفـــــــات المـــــرفقــــة</label>
            
                            <!-- buttons -->
                            <div class="row mr-2 mb-2">
                                <input type="button" value="&#43;  إضافـــــة ملــــــــف " data-toggle="modal" data-target="#add-file-browse-modal" class="btn btn-outline-dark btn-lg smaller-font-size px-3 mx-3 mb-2" >
                                <input type="button" value="&#43;  إضافـــــة رابـــــــــط "  data-toggle="modal" data-target="#add-file-link-modal" class="btn btn-outline-dark btn-lg smaller-font-size px-3 mx-3 mb-2" >
                            </div>
                
                            <!-- the table -->
                            <div class="row mt-3 mr-1" >
                                <table class="table table-hover text-center mx-4 w-100">
                                    <thead>
                                    <tr>
                                        <th>م</th>
                                        <th>اســــم المــــلف</th>
                                        <th>  </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th class="align-middle">1</th>
                                            <td class="align-middle"> مثال عنوان ملــــــــف</td>
                                            <td>
                                                <!-- <button class="btn  btn-lg">
                                                    <i class="bi bi-trash-fill icon-style"></i>
                                                </button> -->
                                                <button class="delete-button" data-toggle="modal" data-target="#confirm-delete-modal">
                                                    <svg class="delete-svgIcon" viewBox="0 0 448 512">
                                                        <path d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"></path>
                                                    </svg>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="align-middle">2</th>
                                            <td class="align-middle"> مثال عنوان ملــــــــف</td>
                                            <td>
                                                <button class="delete-button">
                                                    <svg class="delete-svgIcon" viewBox="0 0 448 512">
                                                        <path d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"></path>
                                                    </svg>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>       
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- card 4 -->
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-body pt-3">
                            <!-- title -->
                            <label class="col-form-label blue-text bigger-font-size mb-4">اختبــــــــار الــــــــدرس</label>
            
                            <!-- buttons -->
                            <div class="row mr-2">
                                <button data-toggle="modal" data-target="#add-ques-modal"
                                        class="btn btn-outline-dark btn-lg smaller-font-size px-4 py-2 mx-3 mb-2">
                                    <i class="bi bi-pencil-square ml-2"></i>
                                      إضافـــــة ســـــؤال
                                </button>
                            </div>
                
                            <!-- the table -->
                            <div class="row mt-3 mr-2" >
                                <table class="table table-hover text-center table-responsive-sm mx-4 w-100">
                                    <thead>
                                    <tr>
                                        <th>م</th>
                                        <th>نص الســؤال</th>
                                        <th>صورة</th>
                                        <th>اختيـــار 1</th>
                                        <th>اختيـــار 2</th>
                                        <th>اختيـــار 3</th>
                                        <th>اختيـــار 4</th>
                                        <th>الإجــابـــة</th>
                                        <th>  </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th class="align-middle">1</th>
                                            <td class="align-middle smaller-font-size"> مثال نص ســـــؤال</td>
                                            <td class="align-middle smaller-font-size">
                                                <img src="../../../assets/images/logoSM.png" alt="" height="40px" width="40px">
                                            </td>
                                            <td class="align-middle smaller-font-size">مثال اجابة اول</td>
                                            <td class="align-middle smaller-font-size">مثال اجابة ثاني</td>
                                            <td class="align-middle smaller-font-size">مثال اجابة ثالث</td>
                                            <td class="align-middle smaller-font-size">مثال اجابة رابع</td>
                                            <td class="align-middle smaller-font-size">اختيار 1</td>
                                            <td>
                                                <!-- Edit button -->
                                                <input type="button" value="تعديل" data-toggle="modal" data-target="#edit-ques-modal" class="btn btn-warning btn-lg px-3 mx-3" >
                                                <!-- Delete button -->
                                                <input type="button" value="حذف" data-toggle="modal" data-target="#confirm-delete-ques-modal" class="btn btn-danger btn-lg px-3 mx-3" >
                                            </td>
                                        </tr>

                                        <tr>
                                           
                                        </tr>
                                    </tbody>
                                </table>       
                            </div>
                        </div>
                      
                    </div>
                </div>
            </div>
                 

            <!-- buttons  -->
            <div class="row profile mb-5 ">
                <div class="col d-flex justify-content-center">
                    <button class="btn btn-primary btn-lg btn-admin" type="submit" *ngIf="edit">حفــــــــــظ</button>
                    <button class="btn btn-primary btn-lg btn-admin" type="submit" *ngIf="add" >إضافــــة الـــــدرس</button>
                </div>
            </div>

        </div>
    </form>    
</main>


<app-ad-footer></app-ad-footer>




<!-- Modal 1 -->
<div class="modal" id="confirm-delete-modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content p-4">
            <!-- Modal Header -->
            <div class="modal-header d-flex justify-content-between mb-3">
                <h3 class="modal-title flex-grow-1 font-weight-bold">حـــــذف ملـــــــف</h3>
                <button type="button btn-modal-close" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div class="row mb-4">
                    <label class=" label mr-3">هــل أنت متأكد من أنك تريـــد حذف الملف ؟</label>
                </div>  
            </div>
            <!-- Modal footer -->
            <div class="modal-footer d-flex justify-content-between">
                <button type="button" class="btn btn-secondary btn-lg smaller-font-size" data-dismiss="modal">إلغـــاء</button>
                <button type="button" class="btn btn-danger btn-lg smaller-font-size">حـــــذف</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal 2 -->
<div class="modal" id="add-file-browse-modal">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content p-4">
            <!-- Modal Header -->
            <div class="modal-header d-flex justify-content-between mb-3">
                <h3 class="modal-title flex-grow-1 font-weight-bold">إضافـــــة ملـــــــف</h3>
                <button type="button btn-modal-close" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div class="form-row mb-4">
                    <div class="col-md-4">
                        <label class=" col-form-label">اســــــم الــملف</label>
                    </div>
                    <div class="col-md-8 mb-2">
                        <input type="text" class="form-control py-3 smaller-font-size">
                    </div>
                </div>
                <div class="form-row mb-4">
                    <div class="col-md-4">
                        <label class=" col-form-label">إرفــــــاق الــملف</label>
                    </div>
                    <div class="col-md-8">
                        <label for="exampleFormControlFile1" class = "btn btn-outline-dark btn-lg smaller-font-size">إختيـــار الملـف</label>
                        <input type="file" style = "visibility: hidden;" class="form-control-file" id="exampleFormControlFile1">
                    </div>
                </div>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer d-flex justify-content-between">
                <button type="button" class="btn btn-secondary btn-lg smaller-font-size" data-dismiss="modal">إلغـــاء</button>
                <button type="button" class="btn btn-success btn-lg smaller-font-size">إضافـــــة</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal 3 -->
<div class="modal" id="add-file-link-modal">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content p-4">
            <!-- Modal Header -->
            <div class="modal-header d-flex justify-content-between mb-3">
                <h3 class="modal-title flex-grow-1 font-weight-bold">إضافـــــة رابـــــــط</h3>
                <button type="button btn-modal-close" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div class="form-row mb-4">
                    <div class="col-md-4">
                        <label class=" col-form-label">اســــــم الــملف</label>
                    </div>
                    <div class="col-md-8 mb-2">
                        <input type="text" class="form-control py-2 smaller-font-size">
                    </div>
                </div>
                <div class="form-row mb-4">
                    <div class="col-md-4">
                        <label class=" col-form-label">رابط الــملف</label>
                    </div>
                    <div class="col-md-8 mb-2">
                        <input type="text" class="form-control py-2 smaller-font-size" >
                    </div>
                </div>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer d-flex justify-content-between">
                <button type="button" class="btn btn-secondary btn-lg smaller-font-size" data-dismiss="modal">إلغـــاء</button>
                <button type="button" class="btn btn-success btn-lg smaller-font-size">إضافـــــة</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal 4 -->
<div class="modal" id="confirm-delete-ques-modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content p-4">
            <!-- Modal Header -->
            <div class="modal-header d-flex justify-content-between mb-3">
                <h3 class="modal-title flex-grow-1 font-weight-bold">حـــــذف ملـــــــف</h3>
                <button type="button btn-modal-close" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div class="row mb-4">
                    <label class=" label mr-3">هــل أنت متأكد من أنك تريـــد حذف الملف ؟</label>
                </div>  
            </div>
            <!-- Modal footer -->
            <div class="modal-footer d-flex justify-content-between">
                <button type="button" class="btn btn-secondary btn-lg smaller-font-size" data-dismiss="modal">إلغـــاء</button>
                <button type="button" class="btn btn-danger btn-lg smaller-font-size">حـــــذف</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal 5 -->
<div class="modal" id="add-ques-modal">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content p-4">
            <!-- Modal Header -->
            <div class="modal-header d-flex justify-content-between mb-3">
                <h3 class="modal-title flex-grow-1 font-weight-bold">إضافـــــة سؤال جديد</h3>
                <button type="button btn-modal-close" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">

                <div class="form-row mb-4">
                    <div class="col-md-2">
                        <label class=" col-form-label">نــص الســؤال</label>
                    </div>
                    <div class="col-md-10 mb-2">
                        <textarea class="form-control smaller-font-size" id="exampleFormControlTextarea3" rows="3"></textarea>
                    </div>
                </div>

                <div class="form-row mb-4">
                    <div class="col-md-2">
                        <label class=" col-form-label">اختيـــار 1</label>
                    </div>
                    <div class="col-md-10 mb-2">
                        <input type="text" class="form-control py-2 smaller-font-size">
                    </div>
                </div>

                <div class="form-row mb-4">
                    <div class="col-md-2">
                        <label class=" col-form-label">اختيـــار 2</label>
                    </div>
                    <div class="col-md-10 mb-2">
                        <input type="text" class="form-control py-2 smaller-font-size">
                    </div>
                </div>

                <div class="form-row mb-4">
                    <div class="col-md-2">
                        <label class=" col-form-label">اختيـــار 3</label>
                    </div>
                    <div class="col-md-10 mb-2">
                        <input type="text" class="form-control py-2 smaller-font-size">
                    </div>
                </div>

                <div class="form-row mb-4">
                    <div class="col-md-2">
                        <label class=" col-form-label">اختيـــار 4</label>
                    </div>
                    <div class="col-md-10 mb-2">
                        <input type="text" class="form-control py-2 smaller-font-size">
                    </div>
                </div>

                <div class="form-row mb-4">
                    <div class="col-md-2">
                        <label class=" col-form-label">الإجــابـــة</label>
                    </div>
                    <div class="col-md-10 mb-2">
                        <select class="custom-select dropdown-font-size mb-2">
                            <option selected>اختيـــار 1</option>
                            <option value="1">اختيـــار 2</option>
                            <option value="2">اختيـــار 3</option>
                            <option value="3">اختيـــار 4</option>
                        </select>
                    </div>
                </div>

                <div class="form-row mb-4">
                    <div class="col-md-2">
                        <label class=" col-form-label">صورة</label>
                    </div>
                    <div class="col-md-10 mb-2">
                        <label for="exampleFormControlFile2" class="btn btn-outline-dark btn-lg smaller-font-size">
                            <i class="bi bi-card-image ml-2"></i>
                            إختيـــار الصورة
                        </label>
                        <input type="file" style="visibility: hidden;" class="form-control-file" id="exampleFormControlFile2">
                    </div>
                </div>

            </div>
            <!-- Modal footer -->
            <div class="modal-footer d-flex justify-content-between">
                <button type="button" class="btn btn-secondary btn-lg smaller-font-size" data-dismiss="modal">إلغـــاء</button>
                <button type="button" class="btn btn-success btn-lg smaller-font-size">إضافـــــة</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal 6 -->
<div class="modal" id="edit-ques-modal">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content p-4">
            <!-- Modal Header -->
            <div class="modal-header d-flex justify-content-between mb-3">
                <h3 class="modal-title flex-grow-1 font-weight-bold">تعديــــل الســــؤال </h3>
                <button type="button btn-modal-close" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">

                <div class="form-row mb-4">
                    <div class="col-md-2">
                        <label class=" col-form-label">نــص الســؤال</label>
                    </div>
                    <div class="col-md-10 mb-2">
                        <textarea class="form-control smaller-font-size" id="exampleFormControlTextarea3" rows="3"></textarea>
                    </div>
                </div>

                <div class="form-row mb-4">
                    <div class="col-md-2">
                        <label class=" col-form-label">اختيـــار 1</label>
                    </div>
                    <div class="col-md-10 mb-2">
                        <input type="text" class="form-control py-2 smaller-font-size">
                    </div>
                </div>

                <div class="form-row mb-4">
                    <div class="col-md-2">
                        <label class=" col-form-label">اختيـــار 2</label>
                    </div>
                    <div class="col-md-10 mb-2">
                        <input type="text" class="form-control py-2 smaller-font-size">
                    </div>
                </div>

                <div class="form-row mb-4">
                    <div class="col-md-2">
                        <label class=" col-form-label">اختيـــار 3</label>
                    </div>
                    <div class="col-md-10 mb-2">
                        <input type="text" class="form-control py-2 smaller-font-size">
                    </div>
                </div>

                <div class="form-row mb-4">
                    <div class="col-md-2">
                        <label class=" col-form-label">اختيـــار 4</label>
                    </div>
                    <div class="col-md-10 mb-2">
                        <input type="text" class="form-control py-2 smaller-font-size">
                    </div>
                </div>

                <div class="form-row mb-4">
                    <div class="col-md-2">
                        <label class=" col-form-label">الإجــابـــة</label>
                    </div>
                    <div class="col-md-10 mb-2">
                        <select class="custom-select dropdown-font-size mb-2">
                            <option selected>اختيـــار 1</option>
                            <option value="1">اختيـــار 2</option>
                            <option value="2">اختيـــار 3</option>
                            <option value="3">اختيـــار 4</option>
                        </select>
                    </div>
                </div>

                <div class="form-row mb-4">
                    <div class="col-md-2">
                        <label class=" col-form-label">صورة</label>
                    </div>
                    <div class="col-md-10 mb-2">
                        <img src="../../../assets/images/logoSM.png" alt=""  class="question-image">
                         
                    </div>
                </div>
                    
                <div class="form-row mb-4">
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-10 mb-2">
                        <label for="exampleFormControlFile2" class="btn btn-outline-dark btn-lg smaller-font-size">
                            <i class="bi bi-card-image ml-2"></i>
                            إختيـــار صورة جديدة
                        </label>
                        <input type="file" style="visibility: hidden;" class="form-control-file" id="exampleFormControlFile2">
                    </div>
                </div>


            </div>
            <!-- Modal footer -->
            <div class="modal-footer d-flex justify-content-between">
                <button type="button" class="btn btn-secondary btn-lg smaller-font-size" data-dismiss="modal">إلغـــاء</button>
                <button type="button" class="btn btn-success btn-lg smaller-font-size">حفــــظ</button>
            </div>
        </div>
    </div>
</div>